:root {
  --mt-h2: 2rem;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "helvetica-neue-lt-pro", sans-serif;
  background-color: rgb(29, 29, 29);
  color: rgb(120, 120, 120);
}

header {
  background-color: rgb(29, 29, 29);
  color: #f6f6f6;
  display: flex;
  justify-content: space-between; /* Pushes h1 left and h2 right dont deletee */

  margin: 0;
}

header h1 {
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 5rem;
  margin-left: 8.45rem;
}

header h2 {
  text-align: left; /*dont change this */
  font-size: 1rem;

  font-weight: 400;
  max-width: 28ch;
  line-height: 1.3;

  margin-right: 12.5rem;
  margin-top: 5.75rem;
}

main {
  display: flex;
  justify-content: center;
}

/* Wrapper for two maps with gap*/
.map-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.map-container {
  margin-top: 4rem;
  width: 450px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 4rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

footer {
  width: 100%;
  text-align: center;
  /*padding: 3rem 2rem 5rem;*/
  font-size: 0.85rem;
  color: rgb(246, 246, 246);
  background-color: rgb(29, 29, 29);
}

/* svgs, these are insde map html ? */
.map-container svg {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffffff;
}

circle {
  fill: #0195ff;
  opacity: 1;
}

/* -------- sidebar */
.sidebar {
  position: absolute;
  top: 15.25rem;
  height: 48.5%;
  width: 170px;
  background: #323232;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s ease;
  /*border-radius: 0.5rem;*/
  padding: 2rem 1rem;
  z-index: 50;
  display: flex;
  flex-direction: column;
}

/*
#leftSidebar {
  the height is defined in sidebar but come back to this if makes issue
}
*/

/* left sidebar closed (off screen) */
.sidebar.left {
  left: 0;
  transform: translateX(-170px);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.03);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#leftSidebarContent {
  display: flex;
  flex-direction: column; /* Stack vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100%; /* Make sure it fills the sidebar */
  text-align: center; /* Center the text too */
}

#leftSidebarContent p {
  margin: 0;
  margin-top: 0.45rem;
}

#leftSidebarContent {
  transform: translateX(-20px);
  transform: translateY(-20px);
}

/* left sidebar open */
.sidebar.left.active {
  transform: translateX(0);
}

/* right closed */
.sidebar.right {
  right: 0;
  transform: translateX(170px);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.03);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

/* right open */
.sidebar.right.active {
  transform: translateX(0);
}

.sidebar-handle {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 50px;
  background-color: #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  z-index: 9;
  user-select: none;
  transition: background-color 0.3s ease;
}

.sidebar.left .sidebar-handle {
  right: -15px; /* outside the sidebar, on right */
  transform: translateY(-50%);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
}

.sidebar.right .sidebar-handle {
  left: -15px; /* outside the sidebar, on left */
  transform: translateY(-50%);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.handle-arrow {
  color: #777;
  font-size: 0.7rem;
  pointer-events: none;
}

#rightSidebarContent p {
  margin-bottom: 0.2rem;
}

#rightSidebarContent {
  display: flex;
  /*
  margin: 6;
  padding: 0; */
  margin-left: 0.4rem;
  flex-direction: column; /* Stack content vertically */
  align-items: flex-start; /* Align content to the left */
  justify-content: center;
  transform: translateY(-30px);
  height: 100%; /* Fill sidebar height */
  /*padding: 1rem;*/
  color: rgb(120, 120, 120);
  /*color: #f6f6f6;
   opacity: 0.7;*/
  font-size: 1rem;
  line-height: 0;
  overflow-y: auto; /* scroll if content overflows  -- not u*/
  gap: 0px; /* Space between paragraphs */
  /* optional background to separate visually */
  /*background-color: #2a2a2a;*/
  /* border-radius: 1rem; */
}

#rightSidebarContent #camberwell-title {
  font-weight: 700;
  margin-bottom: 1rem;
  transform: translateY(-1px);
}

#rightSidebarContent #camberwell-p {
  transform: translateY(6px);
  line-height: 0;
  gap: 0px;
}

#rightSidebarContent #wilsonroad-title {
  font-weight: 700;
  margin-bottom: 1.3rem;
  /*transform: translateY(-30px);*/
}

#rightSidebarContent #wilsonroad-subtitle {
  font-weight: 700;
  margin-bottom: 1.3rem;
}

#rightSidebarContent #toad-title {
  font-weight: 700;
  margin-bottom: 1rem;
  transform: translateY(10px);
}

#rightSidebarContent #toad-subtitle {
  margin-bottom: 0rem;
  margin-top: 1.3rem;
  transform: translateY(12px);
  line-height: 0;
  gap: 0px;
}

#rightSidebarContent #coolcats-title {
  font-weight: 700;
  margin-bottom: 0rem;
  transform: translateY(-30px);
}

#rightSidebarContent #coolcats-subtitle {
  margin-bottom: 0rem;
  transform: translateY(-10px);
}

#rightSidebarContent #rr-title {
  font-weight: 700;
  margin-bottom: 0.2rem;
  transform: translateY(-1px);
}

#rightSidebarContent #rr-subtitle {
  font-weight: 700;
  margin-bottom: 1.3rem;
  transform: translateY(-1px);
}

#rightSidebarContent #rr-p {
  transform: translateY(2px);
}

#rightSidebarContent #sains-title {
  font-weight: 700;
  margin-bottom: 1rem;
}

#rightSidebarContent #sains-1 {
  transform: translateY(6px);
}

#rightSidebarContent #spring-title {
  font-weight: 700;
  margin-bottom: 1rem;
}

#rightSidebarContent #spring-1 {
  font-weight: 1rem;
  transform: translateY(0px);
}

#rightSidebarContent #one-line-bus {
  font-weight: 700;
  transform: translateY(-20px);
}

#rightSidebarContent #one-line-bus-2 {
  font-weight: 1rem;
  transform: translateY(4px);
}

#rightSidebarContent #two-line-bus {
  font-weight: 1rem;
  font-weight: 700;
  transform: translateY(-20px);
}

#rightSidebarContent #two-line-bus-2 {
  font-weight: 700;
  transform: translateY(-20px);
}

#rightSidebarContent #two-line-bus-3 {
  font-weight: 1rem;
  transform: translateY(-8px);
}

/* right */

/*----------wheel */
.scroll-picker-wrapper {
  overflow-x: hidden;
  /* max-width: 100vw; */

  z-index: 1;
  width: 300px;
  height: 50px;
  margin: 2rem auto 2rem auto;
  /*  overflow: hidden; */
  position: static;
  background-color: #323232;

  border-radius: 1rem;

  box-sizing: border-box;

  padding: 0;
}

.scroll-picker {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

/*
.scroll-picker-wrapper,
.scroll-picker {
  max-width: 100%;
  overflow-x: hidden;
} */

.scroll-picker::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scroll-picker.dragging {
  cursor: grabbing;
  user-select: none;
}

.picker-item {
  color: #f6f6f6;

  height: 50px;
  width: 100%;
  text-align: center;
  scroll-snap-align: center;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0.1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3rem;
}

.picker-item.active {
  opacity: 0.75;
}

.picker-title {
  font-size: 1rem;
}

.picker-subtitle {
  font-size: 1rem;
}

.picker-item.active .picker-title {
  font-size: 1rem;
}

.picker-item.active .picker-subtitle {
  font-size: 1rem;
}

/*hover*/

.map-point {
  fill: 1393F8;
  /*transition: fill 0.2s ease;*/
}

.map-point:hover {
  fill: #ffc300;
}

/*
* {
  outline: 1px solid red;
} */

*/ html,
body {
  overflow-x: hidden !important;
}
